<%= form_with(model: user, local: true) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <table class="user-form">
    <tr>
      <th><%= f.label :name, '名前' %></th>
      <td><%= f.text_field :name, placeholder: '名前を入力'%></td>
    </tr>
    <tr>
      <th><%= f.label :emain, 'Eメール' %></th>
      <td><%= f.email_field :email, placeholder: 'メールアドレスを入力'%></td>
    </tr>
    <tr>
      <th><%= f.label :introduction, '自己紹介' %></th>
      <td><%= f.text_area :introduction, placeholder: '自己紹介を入力'%></td>
    </tr>
    <tr>
      <th><%= f.label :image, 'プロフィール写真' %></th>
      <td><%= f.file_field :image %></td>
    </tr>
    <tr>
      <th><%= f.label :password, 'パスワード' %></th>
      <td><%= f.password_field :password %></td>
    </tr>
    <tr>
      <th><%= f.label :password_confirmation, 'パスワード再入力' %></th>
      <td><%= f.password_field :password_confirmation %></td>
    </tr>
  </table>
  <%= f.submit submit_text, class: 'submit-button' %>
<% end %>