
<section class="section-top show-room">
  <div class="show-room-block">
    <div class="room-detail">
      <div class="room-thunmnail">
          <%= image_tag 'room_sample.jpeg' %>
      </div>
      <div class="room-profile">
        <p class="room-name"><%= @user.name %></p>
        <p class="room-location"><%= @user.email %></p>
        <p class="room-introduction"><%= @user.introduction %></p>
        <p>ルーム情報</p>
        <% @user.rooms.each do |room| %>
          <p><%= link_to room.name, room %></p>
        <% end %>
      </div>
      <%= link_to 'ユーザー情報を編集する', edit_user_path(@user) %>
      
    </div>
    <div class="room-reservation">
      
    </div>
  </div>
  
  
</section>