<%= form_with(model: reservation, local: true) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
    
  <table class="reservation-info">
    <tr>
      <th><%= f.label :start_date, 'チェックイン日付' %></th>
      <td><%= f.date_field :start_date, id: 'start_date' %></td>
    </tr>
    <tr>
      <th><%= f.label :end_date, 'チェックアウト日付' %></th>
      <td><%= f.date_field :end_date, id: 'end_date' %></td>
    </tr>
    <tr>
      <th><%= f.label :guests, '人数', class: 'guests' %></th>
      <td><%= f.number_field :guests, id: 'guests', placeholder: '予約人数を入力'%></td>
    </tr>
    <tr>
      <th>合計金額</th>
      <td id ="total_fee">¥ <%= reservation.total_fee %></td>
    </tr>
  </table>
  <%= hidden_field_tag 'reservation[room_id]', room_id %>
  
  <% if logged_in? %>
    <%= f.submit submit_text, class: 'submit-button' %>
  <% else %>
    <%= link_to 'ログイン', login_path, class: 'login-btn' %>
  <% end %>
  
<% end %>
   