
  <section class="section-top">
    <h2>予約した部屋一覧</h2>
      
    <table class="reservations_list">
      <tr>
        <th>ルーム写真</th>
        <th>ルーム名</th>
        <th>ロケーション</th>
        <th>合計料金</th>
        <th>チェックイン/チェックアウト</th>
        <th>予約確定日時</th>
      </tr>
      
      <% @reservations.each do |reservation| %>
        <tr>
            <td class="room-thumbnail">
              <% if reservation.room.image? %>
                <%= image_tag reservation.room.image.thumb.url %>
              <% else %>
                <%= image_tag('room_sample.jpeg') %>
              <% end %>
            </td>
            <td><%= link_to reservation.room.name, reservation %></td>
            <td><%= reservation.room.location %></td>
            <td>¥ <%= reservation.total_fee %></td>
            <td><%= reservation.start_date %> / <%= reservation.end_date %></td>
            <td><%= reservation.created_at.to_s(:datetime_jp) %></td>
         </tr>
      <% end %>  
    </table> 

  
  </section>
