
<section class="section-top">
  <div class="reservation-block">
    <%= render 'shared/room_info', room: @reservation.room %>
    <div class="reservation-detail">
      <h3 class="title">予約情報</h3>
      <table class="reservation-info">
        <tr>
          <th>人数</th>
          <td><%= @reservation.guests %> 人</td>
        </tr>
        <tr>
          <th>合計金額</th>
          <td>¥ <%= @reservation.total_fee %></td>
        </tr>
        <tr>
          <th>チェックイン</th>
          <td><%= @reservation.start_date %></td>
        </tr>
        <tr>
          <th>チェックアウト</th>
          <td><%= @reservation.end_date %></td>
        </tr>
      </table>
    </div>
  </div>
  
  <ul class="another-menu">
    <li><%= link_to '予約情報を変更する', edit_reservation_path(@reservation) %></li>
    <li><%= link_to '予約をキャンセルする', @reservation, method: :delete, data: { confirm: "本当にキャンセルしますか？" }  %></li>
    <li><%= link_to 'このルームのオーナー情報を表示', @reservation.room.user %></li>
  </ul>  
</section>